
*{
    margin:0;
    padding:0;
}


body{
    background-color: rgb(88, 86, 86);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.gameBoard{
    background-color: rgb(204, 204, 204);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around !important;
    
    width:  70vmin;
    height: 70vmin;
    margin: 5% auto ;
    /* padding: 3px; */
    
}

.gameBoard div{
    background-color: rgb(172, 167, 163);
    height: 16vmin;
    width:  16vmin;
    border-radius: 0.5vmin;
    text-align: center;
    align-items: center;
    font-weight: bolder;
    font-size: 9vmin;
    line-height: 98px;
    /* color:rgb(88, 86, 86) ; */
    /* padding:3vmin  ; */
    
     
}

/* //coloring the cell  */

.value2 {
    background: #eee4da !important;
    color: #727371;
}

.value4 {
    background-color: #ede0c8 !important;
    color: #727371;
}

.value8 {
    color: #f9f6f2;
    background: #f2b179 !important;
}

.value16{
    color: #f9f6f2;
    background: #f59563 !important;
}

.value32{
    color: #f9f6f2;
    background: #f67c5f !important;
}

.value64{
    color: #f9f6f2;
    background: #f65e3b !important;
}

.value128{
    color: #f9f6f2;
    background: #edcf72 !important;
}

.value256{
    color: #f9f6f2;
    background: #edcc61 !important;
}

.value512{
   
    color:#f9f6f2;
    background:#edc850 !important;
    
}

.value1024{
    color: white;
    background:#edc53f !important;
}

.value2048{
color:#f9f6f2;
background-color:#edc22e !important;}